.header {
    display: flex;
    width: 100%;
    justify-content:center;
    background-color: black;    
    position: sticky;
    z-index: 2;
}
.header__left  {
    width: 40%;
    align-items: center;
    justify-content: center;
}
.header__right  {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: nowrap;
}
.header__left > img {
    width: 120px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}
.header__right > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__right > p {
    margin: 10px; 
    color: white;
    cursor: pointer;
    padding: 5px;
}
.header__right > p:hover,
.header__right > p.active{
color: #287FB7;
font-weight: bold;
}


.mobile__menu {
  position: absolute; /* Position the menu items relative to the header */
  top: 20%; /* Position the menu items below the header */
  left: 0;
  width: 100%;
  overflow: hidden;
}

.menu__icon {
  cursor: pointer;
  width: auto;
  outline: none;
 
}
.menu__icon:active {

  outline: none;
  color: inherit;
}
.menu__icon > .MuiSvgIcon-root {
  color: white;
  margin-left: 85%;
  font-size: xx-large;
}


.mobile__menuItems {
  display: flex;
  flex-direction: column;
  background-color: black; /* Match background color of header */
  position: fixed; /* Position menu items */
  text-align: center;
  top: 75px; /* Position menu items below the header */
  left: 0;
  width: 100%; /* Take full width of screen */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for visual separation */
  z-index: 999; /* Ensure the menu items appear above other content */
  
}

.mobile__menuItems p {
  color: white; /* Set text color */
  padding: 10px; /* Add padding for spacing */
  margin: 0;
  cursor: pointer;
  border-top: 1px solid white; /* Add top border for separation */
}


/*  Reposnsiveness for all screen types*/

@media screen and (max-width:576px) and (orientation: portrait) {
   .header {
    width: 100%;
    overflow: hidden;
   }
  .header__right {
    display: flex;
  }
   .header__right > p {
    font-size: 14px;
   }
   
    .header__left > img {
    width: 90px;
   }

   

  }
  /* for tablets and bigger phones */
  @media (max-width: 576px) and (orientation: landscape) {
    /* CSS Rules for Mobile Phones in Landscape */
    
  }
  @media screen and (min-width: 577px) and (max-width: 992px) and (orientation: portrait) {
    /* CSS Rules for Tablets in Portrait */
   
  }
  @media screen and (min-width: 577px) and (max-width: 992px) and (orientation: landscape) {
    /* CSS Rules for Tablets in Landscape */
    
  }
  
  /* Below for latptops and Bigger screens */
  @media (min-width: 993px) and (max-width:1919px) {
    
  }
  @media (min-width: 1920px)  {
    
  }