.header {
    display: flex;
    width: 100%;
    justify-content:center;
    background-color: black;    
    position: sticky;
    z-index: 2;
}
.header__left  {
    width: 40%;
    align-items: center;
    justify-content: center;
}
.header__right  {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: nowrap;
}
.header__left > img {
    width: 120px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}
.header__right > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__right > p {
    margin: 10px; 
    color: white;
    cursor: pointer;
    padding: 5px;
}
.header__right > p:hover,
.header__right > p.active{
color: #287FB7;
font-weight: bold;
}



/*  Reposnsiveness for all screen types*/

@media screen and (max-width:576px) and (orientation: portrait) {
   .header {
    width: 100%;
   }
  .header__right {
    display: flex;
    flex-direction: column;
  }
   .header__right > p {
    font-size: 14px;
   }
   
    .header__left > img {
    width: 90px;
   }
  }
  /* for tablets and bigger phones */
  @media (max-width: 576px) and (orientation: landscape) {
    /* CSS Rules for Mobile Phones in Landscape */
    
  }
  @media screen and (min-width: 577px) and (max-width: 992px) and (orientation: portrait) {
    /* CSS Rules for Tablets in Portrait */
   
  }
  @media screen and (min-width: 577px) and (max-width: 992px) and (orientation: landscape) {
    /* CSS Rules for Tablets in Landscape */
    
  }
  
  /* Below for latptops and Bigger screens */
  @media (min-width: 993px) and (max-width:1919px) {
    
  }
  @media (min-width: 1920px)  {
    
  }