.header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    position: sticky;
    z-index: 2;
}
.header__left  {
    width: 40%;
    align-items: center;
    justify-content: center;
}
.header__right  {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: nowrap;
}
.header__left > img {
    width: 120px;
    height: 50px;
    margin: 10px;
}
.header__right > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__right > p {
    margin: 10px; 
    color: white;
    cursor: pointer;
    padding: 5px;
}
.header__right > p:hover,
.header__right > p.active{
color: #287FB7;
font-weight: bold;
}