.publications {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.publications__top {
    display: flex;
    width: 100%;
    align-items: center;
justify-content: center;
background-image: url('../assets/circuit.jpg');
background-position: center;
background-size: cover;
height: 200px;
}
.publications__top > h1 {
    color: white;
    font-size: 80px;
}
.publications__content {
    display: flex;
margin-top: 10px;
    width: 80%;
    align-items: center;
    height: auto;
    flex-direction: column;
   background-color: #CCC;
    border-radius: 5px;
}
    