.research {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  whitesmoke;
    height: 100%;
    font-family: Roboto;
}
.research__top {
    display: flex;
    width: 100%;
    align-items: center;
justify-content: center;
background-image: url('../assets/pictures/research.jpg');
background-position: center;
background-size: cover;
height: 200px;
}
.research__top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 275px;
    background-color: rgba(0, 0, 0, 0.5);

}
.research__top > h1 {
    color: white;
    font-size: 80px;
    z-index: 1;
}
.research__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;

   
}
.research__containerHeading {
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.research__containerHeading > h1 {
    font-size: 40px;
    text-align: center;
}
.research__containerHeading > p {
    margin-left: 74%;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.research__containerText > p{
    margin-top: 15px;
    font-size: 18px; 
    padding: 15px;
    
}
.research__containerPicture {
width: 100%;
display: flex;
align-items: center;
flex-wrap: wrap;
margin-top: 20px;
background-color: #CCC;

}
.research__containerPicture > img {
    width: 350px;
    height: 250px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 200ms ease-in;
    cursor: pointer;
}
.research__containerPicture > img:hover {
    transform: scale(1.1);
}
@media screen and (max-width:576px) and (orientation: portrait) {
    .research__top > h1 {
        font-size: 50px;
        width: 80%;
    }
    .research__containerHeading > h1 {
        font-size: 30px;
        
    }
    .research__containerHeading > p {
        font-size: 16px;
    }
    .research__containerText > p {
        font-size: 16px;
    }
    .research__containerPicture {
        align-items: center;
        justify-content: center;
    }
    .research__containerPicture > img {
        width: 150px;
        height: 150px;
        margin: 15px
    };
}