.backToTop  {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    width: 80%;
}

.backToTop > button{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
