.cards{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 260px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    background-color: whitesmoke;
    font-family: Roboto;
}
.cards__top {
padding: 2px;
}
.cards__top  .MuiSvgIcon-root {
    font-size: 40px;
    color: #2A7FB8 !important;
    
}
.cards__middle {
    padding: 5px;
}
.cards__middle > h5 {
    font-size: 24px;
}
.cards__middle > p {
font-size: 18px;
margin-top: 20px;
}
.cards__bottom > p {
    font-size: 16px;
    background-color: #287FB8;
    width: fit-content;
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.cards__bottom > p > .MuiSvgIcon-root {
    font-size: 20px;
}
@media screen and (max-width:576px) and (orientation: portrait) {
    .cards {
       width: 300px;
      margin: 5px;
    height: 230px;
    }
    .cards__middle> p {
        font-size: 16px;
    }
}