.gallery {
    width: 80%;
    
}
.gallery > h1 {
    font-size: 80px;
}
.gallery__images { 
    max-height: 400px; /* Set a fixed height for the container */
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: white;
    scrollbar-width: thin;
    scrollbar-color: #cecccc transparent;
    
    &::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
        background-color: transparent;
        border: 2px solid #999;
   
      }
    
}
