/* PopUp.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Cover the entire viewport */
  z-index: 1; /* Set a high z-index value to make sure it appears on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup__inner {
  position: relative;
  width: 500px;
  width: 25%;
  max-height: 75%;
  background: white;
  border-radius: 10px;
  overflow-y: auto; /* Enable scrolling if content exceeds popup height */
}


.popup__inner::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

.popup__inner::-webkit-scrollbar-track {
  background-color: transparent; /* Make the scrollbar track transparent */
}

.popup__inner::-webkit-scrollbar-thumb {
  background-color: #CCC; /* Light color for scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.popup__header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid black;
  z-index: 2;
  background-color: #CCC;
}
.popup__inner > p {
  padding: 10px;
}
.popup__header h2 {
  margin: 0;
}

.close__icon {
  cursor: pointer;
  display: flex;
  font-size: 24px;
  width: 30px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:576px) and (orientation: portrait) {
  .popup__inner {
    width: 70%;
    height: 450px;
    margin-top: 20%;
  }
}
