.work {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    min-height: 200px;
    justify-content: space-between;
    font-family: Roboto;
    background-color: whitesmoke;
    opacity: 0.9;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}
.work__content { 
    display: flex;
    width: 95%;
    text-wrap: wrap;
    margin-top: 10px;
}
.work__content > h2 {
    width: 80%;
}
.work__details {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}
.work__details > h5 {
width: 80%;
font-weight: normal;
font-size: 16px;
font-family: Roboto;
margin-top: 10px;
}
.work__details > p{
    font-weight: bold;
}
.work__links {
    display: flex;
    width: 95%;
    justify-content: end;
    margin: 5px;
}
.work__links > a {
    text-decoration: none;
    
}
.work__links >a >  p {
    background-color: lightblue;
    padding: 5px;
    background-color: #287FB8;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    cursor: pointer;
    color: white;
   
}
.work__links > p > .MuiSvgIcon-root {
    font-size: 22px;

}
.work__links > a > p:hover {
    font-weight: bold;
}